@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
form {
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input {
  width: 60%;
  height: 40px;
  border-radius: 10px;
}
form button {
  width: 150px;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

form button:hover {
  transform: scale(1.05);
}
.results {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card {
  display: flex;
}
.post-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 32px;
  max-width: 40%;
  width: 90%; 
  margin: 40px auto;
  font-family: "Inter", sans-serif;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.post-card:hover {
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}
.error {
  color: red;
  margin-left: 5px;
  margin-top: 10px;
}
.loading{
  margin-left: 5px;
  margin-top: 10px;
}